body{

    align-items: center;
    background-image: url('photo_2023-03-18_18-31-55.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
body::before{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0,0,0, 0.25);
}
.lover{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    position: relative;
}
.moon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.star{
    border-top-left-radius: 75%;
    border-bottom-left-radius: 75%;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding-top: 13px;
    padding-left: 28px;
    padding-bottom: 13px;
    padding-right: 9px;
    margin: 40px 5px;
    text-transform: capitalize;
    letter-spacing: 2px;
    box-shadow: 0 15px 10px rgba(0,0,0, 0.4);
    text-decoration: none;
    position: fixed;
}
.star:hover{
    background-color: powderblue;
    color: #3d535f;
}
a:hover{
    background-color: powderblue;
    color: #3d535f;
}
h1{
    color: #ffffff;
}
h2{
    color:  cadetblue;
    font-size: 25px;
}
.hater{
    display: flex;
    flex-direction: row;
}
.you{
    width: 70%;
}
.color{
    color: cadetblue;
    font-size: 20px;
}
img{
    margin-left: 50%;
    border-radius: 10%;
    height: 90px;
    width: 100px;
}
.church{
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    text-align: right;
    padding-left: 30px;
}
.noo{
    color: #ffffff;
    text-align: left;
    line-height: 1.0;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: left; 
    display: flex;
    
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #974b8a;
    padding: 8px 14px;
    margin-top: 60%;
    margin-left: 80px;
    text-transform: capitalize;
    letter-spacing: 2px;
    box-shadow: 0 15px 10px rgba(0,0,0, 0.4);
}
.start:hover{
    background-color: #fff;
    color: #974b8a;
}
@media (max-width: 900px){
    .lover{
        flex-direction: column;
        align-items: center;
    }
    .hater{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .you{
        width: 100%;
    }
    .moon{
        z-index: 100;
    }
    .star{
        padding-left: 19px;
        font-size: 12px;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 3px;
    }
    .church{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 90%;
    }
    button{
        margin-left: auto;
        margin-bottom: 60px;
    }
    .moon{
        margin-top: 3px;
    }
    h1{
        margin-top: 100px;
        text-align: center;
    }
}
@media (max-width: 350px){
    .church{
        width: 80%;
        font-size: 16px;
    }
}